.container {
  width: 600px;
  height: 400px;
  position: relative;
  margin: 100px auto;
  overflow: hidden;
}
.imgs {
  width: 600px;
  height: 400px;
  position: absolute;
}
.imgs img {
  float: left;
  width: 600px;
  height: 400px;
  overflow: hidden;
}
.pre-next {
  z-index: 2;
  position: absolute;
  margin-top: 180px;
  color: #bcbcbc;
  font-size: 40px;
  cursor:pointer;
  display: none;
}
#pre {
  left: 20px;
}
#next {
  right: 20px;
}
.container:hover .pre-next{
  display: block;
}